<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">

    <div class="py-4 text-center">
        <h2>Test Form</h2>
    </div>

    <form id="resetPassword" method="post" th:action="@{/v2/users/resetPassword}">
        <div>
            <label for="email">이메일:</label>
            <input id="email" name="email" required th:value="${email}" type="text">
        </div>
        <div>
            <label for="nickName">이름:</label>
            <input id="nickName" name="nickName" required th:value="${nickName}" type="text">
        </div>
        <button type="submit">비밀번호 초기화 코드 발급</button>
    </form>

</div>
</body>
</html>