<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">

    <div class="py-4 text-center">
        <h2>Test Form</h2>
    </div>

    <form id="" method="post" th:action="@{/v2/users/resetPasswordConfirm}">
        <div>
            <label for="email">이메일:</label>
            <input id="email" name="email" required th:value="${email}" type="text">
        </div>
        <div>
            <label for="resetCode">확인코드</label>
            <input id="resetCode" name="resetCode" required th:value="${resetCode}" type="text">
        </div>
        <div>
            <label for="newPassword">새비밀번호</label>
            <input id="newPassword" name="newPassword" required th:value="${newPassword}" type="password">
        </div>
        <div>
            <label for="passwordConfirm">비밀번호확인</label>
            <input id="passwordConfirm" name="passwordConfirm" required th:value="${passwordConfirm}" type="password">
        </div>
        <button type="submit">비밀번호 초기화</button>
    </form>

</div>
</body>
</html>