<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>로그인</title>
</head>
<body>
<div class="container">

  <div class="py-4 text-center">
    <h2>로그인</h2>
  </div>
  <form th:action="@{/v2/signin}" method="post">
    <div>
      <label for="email">이메일:</label>
      <input type="text" id="email" name="email" th:value="${email}" required>
    </div>
    <div>
      <label for="password">비밀번호:</label>
      <input type="password" id="password" name="nickName" th:value="${password}" required>
    </div>
    <button type="submit">로그인</button>
  </form>
  <a href="/v2/signin/oauth2/authorization/naver">
    <img height="50"
         src="https://static.nid.naver.com/oauth/small_g_in.PNG"
         alt="네이버 로그인 버튼"/>
  </a>
  <a href="/v2/signin/oauth2/authorization/google">
    <img height="50"
         src="https://cdn-icons-png.flaticon.com/256/2702/2702602.png"
         alt="구글 로그인 버튼"/>
  </a>
  <a href="/v2/signup">
    회원가입
  </a>
</div>
</body>
</html>